# gradle related
/.gradle
/gradlew
/gradlew.bat
/gradle
/build/
/out/

# IDE
/.idea/

# application level
/logs/
/config/

# binaries
*.jar

# kinda chaotic and possibly private list of ideas
/ideas.txt
/todo.txt
/ideas.md
/todo.md
