<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<!-- Console logger for regular usage -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%d{HH:mm:ss]}[%p{length=3}][%15.15c{1}] %m%ex{1}%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white}"
					disableAnsi="false"/>
		</Console>
		
		<!-- Console logger for debugging (prints stacktrace) -->
		<Console name="ConsoleDebug" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%d{HH:mm:ss]}[%p{length=3}][%c] %m%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white}"
					disableAnsi="false"/>
		</Console>
	</Appenders>
	<Loggers>
		<!-- some shit is simply annoying -->
		<Logger name="io.netty" level="INFO"/>
		<Logger name="chrisliebaer.chrisliebot.abstraction.irc.IrcLogger" level="INFO"/>
		<Logger name="chrisliebaer.chrisliebot.config.ChrislieContext" level="DEBUG"/>
		<Logger name="chrisliebaer.chrisliebot.command.mensa.MensaCommand" level="DEBUG"/>
		<Logger name="chrisliebaer.chrisliebot.util.IrcToSqlLogger" level="DEBUG"/>
		<Logger name="chrisliebaer.chrisliebot.command.ChrislieDispatcher" level="DEBUG"/>
		<Logger name="org.zeroturnaround.exec.stream" level="DEBUG"/>
		<Logger name="com.joestelmach.natty" level="ERROR"/>
		<Logger name="net.dv8tion.jda" level="INFO"/>
		<Logger name="org.hibernate.validator" level="WARN"/>
		<Logger name="twitter4j" level="WARN"/>
		
		
		<Root level="TRACE">
			<AppenderRef ref="ConsoleDebug"/>
		</Root>
	</Loggers>
</Configuration>
