<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<!-- Console logger for regular usage -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%d{HH:mm:ss]}[%p{length=3}][%15.15c{1}] %m%ex{1}%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white}"
					disableAnsi="false"/>
		</Console>
		
		<!-- Console logger for debugging (prints stacktrace) -->
		<Console name="ConsoleDebug" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%d{HH:mm:ss]}[%p{length=3}][%15.15c{1}] %m%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white}"
					disableAnsi="false"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="io.netty" level="INFO"/>
		
		<Root level="TRACE">
			<AppenderRef ref="ConsoleDebug"/>
		</Root>
	</Loggers>
</Configuration>
