<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
	<Appenders>
		<!-- Console logger for regular usage -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%d{HH:mm:ss]}[%p{length=3}][%15.15c{1}] %m%ex{1}%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white}"
					disableAnsi="false"/>
		</Console>
		
		<!-- Console logger for debugging (prints stacktrace) -->
		<Console name="ConsoleDebug" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%d{HH:mm:ss]}[%p{length=3}][%15.15c{1}] %m%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=white}"
					disableAnsi="false"/>
		</Console>
		
		<!-- Log outputs to file and rotate every day -->
		<RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="[%d{HH:mm:ss]}[%p{length=3}][%15.15c{1}] %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<!--
		<Logger name="net.dv8tion" level="INFO"/>
		<Logger name="com.github.lupinus.loldata.harvester.database.MatchWizard" level="DEBUG"/>
		<Logger name="com.github.lupinus.loldata.harvester.module.AbstractRecentGames" level="DEBUG"/>
		<Logger name="com.github.lupinus.loldata.harvester." level="DEBUG"/>
		-->
		
		<Root level="TRACE">
			<AppenderRef ref="ConsoleDebug"/>
		</Root>
	</Loggers>
</Configuration>
